<div class="bg">

</div>
<div class="login">
  <div class="login-main">
    <h2 class="title-main">博客后台管理系统&nbsp;&nbsp;&nbsp;Enjoy it !</h2>
    <section class="login-dialog">
      <h4>Login with your account：</h4>
      <form action="">
        <ul>
          <li>
            <input type="text" placeholder="username" name="username" class="input" autocomplete="off">
          </li>
          <li>
            <input type="password" placeholder="password" name="password" class="input" autocomplete="off">
          </li>
          <li>
            <input type="text" placeholder="verify" class="input verify" autocomplete="off">
            <img src="" alt="verify">
          </li>
          <li>
            <input type="submit" value="登录" class="submit">
          </li>
        </ul>
      </form>
    </section>
  </div>
</div>
