<div id="main" class="main">
  <div class="main-inner">
    <h2>评论管理</h2>
    <form id="quick-tools">
      <input type="button" name="delete" class="quick-tools-delete btn btn-red" value="批量删除">
    </form>
    <form id="form-main">
      <table>
        <thead>
        <tr>
          <th width="1%">
            <input type="checkbox" class="check-all">
          </th>
          <th width="10%">ID</th>
          <th width="15%">作者</th>
          <th width="50%">评论内容</th>
          <th width="15%">评论文章</th>
          <th width="20%">时间</th>
        </tr>
        </thead>

        <tr>
          <td>
            <input type="checkbox" class="check">
          </td>
          <td>1</td>
          <td class="main-title">admin</td>
          <td>这篇文章写的不错哦哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</td>
          <td>你好世界</td>
          <td>2017-03-10 18:30</td>
        </tr>

        <!--测试数据开始-->
        <tr>
          <td>
            <input type="checkbox" class="check">
          </td>
          <td>1</td>
          <td class="main-title">javascript</td>
          <td>35</td>
          <td>21%</td>
          <td>
            <a href="" class="btn-a form-main-edit">编辑</a>
            <a href="" class="btn-a btn-a-red form-main-delete">删除</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="check">
          </td>
          <td>1</td>
          <td class="main-title">javascript</td>
          <td>35</td>
          <td>21%</td>
          <td>
            <a href="" class="btn-a form-main-edit">编辑</a>
            <a href="" class="btn-a btn-a-red form-main-delete">删除</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="check">
          </td>
          <td>1</td>
          <td class="main-title">javascript</td>
          <td>35</td>
          <td>21%</td>
          <td>
            <a href="" class="btn-a form-main-edit">编辑</a>
            <a href="" class="btn-a btn-a-red form-main-delete">删除</a>
          </td>
        </tr>
      </table>

    </form>
  </div>
</div>
