<div id="tags" class="tags">
  <div class="tags-inner">
    <h2 class="tags-title">标签云</h2>
    <p class="tags-total">当前共计60个日志</p>
    <div class="tags-content">
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
      <a href="" class="tags-item">abc</a>
    </div>

  </div>

</div>
