<div id="main" class="main">
  <div class="main-inner">
    <h2>管理员</h2>
    <form id="quick-tools">
      <input type="button" name="delete" class="quick-tools-delete btn btn-red" value="批量删除">
      <input type="button" name="add" class="quick-tools-add btn" value="新增">
      <input type="button" name="new" class="quick-tools-add btn" value="生成秘钥" (click)="modal.open()">
    </form>
    <form id="form-main">
      <table myCheckedAll>
        <thead>
        <tr>
          <th width="1%">
            <input type="checkbox" class="check check-all">
          </th>
          <th width="15%">ID</th>
          <th width="20%">名称</th>
          <th width="20%">上次登录ip</th>
          <th width="15%">上次登录时间</th>
          <th width="40%">操作</th>
        </tr>
        </thead>

        <tr *ngFor="let adminuser of adminusers">
          <td>
            <input type="checkbox" class="check">
          </td>
          <td>{{ adminuser.id }}</td>
          <td class="main-title">{{ adminuser.name }}</td>
          <td>{{ adminuser.ip }}</td>
          <td>{{ adminuser.date | dateFormat: 1 }}</td>
          <td>
            <a class="btn-a form-main-edit">编辑</a>
            <a class="btn-a btn-a-red form-main-delete">删除</a>
          </td>
        </tr>


      </table>

    </form>

    <div id="add-modal" [ngStyle]="{'display': modal.display ? 'block' : 'none'}">
      <form action="" id="add-key">
        <div class="add-modal-item">
          <label for="key-name">密码：</label>
          <input type="text" name="key-name" id="key-name" #keyName [(ngModel)]="key.name" autocomplete=off spellcheck="false">
        </div>
        <div class="add-modal-item">
          <label for="key-password">password：</label>
          <input type="text" name="key-password" id="key-password" [(ngModel)]="key.password" autocomplete=off spellcheck="false" disabled>
        </div>
        <div class="add-modal-item">
          <label for="key-pwd">秘钥：</label>
          <input type="text" name="key-pwd" id="key-pwd" [(ngModel)]="key.pwd" autocomplete=off spellcheck="false" disabled>
        </div>

        <div class="btn-group">
          <input type="button" class="btn btn-red" [value]="addModal.btnValue" (click)="getKey()">
          <input type="button" class="btn" value="关闭" (click)="modal.close()">
        </div>

      </form>
    </div>
  </div>

  <div id="mask" [ngStyle]="{'display': mask.display ? 'block' : 'none'}"></div>

  <loading-animate></loading-animate>
  <message-dialog></message-dialog>
</div>
