<div id="main" class="main">
  <div class="main-inner">
    <div id="blog-data">
      <div id="postNum" class="blog-data-item">
        <p class="blog-data-num">233</p>
        <p class="blog-data-text">文章数量</p>
      </div>
      <div id="demos" class="blog-data-item">
        <p class="blog-data-num">19</p>
        <p class="blog-data-text">项目数量</p>
      </div>
      <div id="system-info" class="blog-data-item">
        <ul>
          <li>
            <em>操作系统</em>
            <span>linux</span>
          </li>
          <li>
            <em>node版本</em>
            <span>xxx</span>
          </li>
          <li>
            <em>db版本</em>
            <span>xx</span>
          </li>
        </ul>
      </div>
    </div>
    <div id="blog-charts">
      <div id="visitor">
        <!--todo 访客人数图表-->
      </div>
      <div id="visit-time">
        <!--todo 访客停留时间图表-->
      </div>
    </div>
  </div>
</div>
