<div id="categories" class="categories">
  <div class="categories-inner">
    <h2 class="categories-title">分类</h2>
    <p class="categories-total">当前共计10个分类</p>
    <div class="categories-wrap">
      <div class="categories-nav">
        <ul class="categories-nav-list">
          <li class="categories-nav-list-item"><a>Nodejs<span>(5)</span></a></li>
          <li class="categories-nav-list-item"><a>Nodejs</a></li>
          <li class="categories-nav-list-item"><a>Nodejs</a></li>
          <li class="categories-nav-list-item"><a>Nodejs</a></li>
          <li class="categories-nav-list-item"><a>Nodejs</a></li>
        </ul>
      </div>
      <div class="categories-content">
        <div class="categories-detail">
          <h2 class="categories-detail-title">Node<span>分类</span></h2>
          <div class="categories-detail-item">
            <div class="categories-detail-item-title"><span>May-3-2017</span><a href="">文章名称</a></div>
          </div>
          <div class="categories-detail-item">
            <div class="categories-detail-item-title"><span>May-3-2017</span>文章名称</div>
          </div>
          <div class="categories-detail-item">
            <div class="categories-detail-item-title"><span>May-3-2017</span>文章名称</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
