.main-inner {
  padding: 20px 20px 20px 40px;
  color: #555555;
  font-family: "Microsoft YaHei", "Ubuntu", "Sans Regular";
  font-size: 16px;
}
.main-inner #blog-data {
  overflow: hidden;
}
.main-inner #blog-data .blog-data-item {
  float: left;
  padding: 0 10px 10px 20px;
  margin-right: 30px;
  width: 25%;
  box-sizing: border-box;
}
.main-inner #blog-data .blog-data-item .blog-data-num {
  font-size: 32px;
}
.main-inner #blog-data #postNum {
  background-color: #42a5f5;
  color: white;
}
.main-inner #blog-data #demos {
  background-color: #7e57c2;
  color: white;
}
.main-inner #blog-data #system-info {
  height: 153.33px;
  background-color: #66bb6a;
  color: white;
}
.main-inner #blog-data #system-info ul {
  padding: 0;
  list-style: none;
  line-height: 40px;
}
.main-inner #blog-data #system-info ul em {
  display: inline-block;
  width: 50%;
}
