body {
  padding-left: 230px;
  margin: 0;
}
#sidemenu {
  display: block;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #3a3f51;
  width: 230px;
  font-family: "Microsoft YaHei", "Ubuntu", "Sans Regular";
  font-size: 16px;
  color: #a6a8b1;
}
#sidemenu .sidemenu-inner ul {
  padding-left: 0;
  list-style: none;
}
#sidemenu .sidemenu-inner ul li {
  position: relative;
}
#sidemenu .sidemenu-inner ul li a {
  display: block;
  color: #a6a8b1;
  text-decoration: none;
}
#sidemenu .sidemenu-inner ul li a:hover {
  color: #ffffff;
}
#sidemenu .sidemenu-inner ul li a:hover {
  color: #fff;
  background-color: #32374a;
}
#sidemenu .sidemenu-inner .sidemenu-panel {
  margin-top: 20px;
  text-align: center;
}
#sidemenu .sidemenu-inner .sidemenu-panel a {
  color: #ffffff;
  text-decoration: none;
}
#sidemenu .sidemenu-inner .sidemenu-panel a:hover {
  color: #ffffff;
}
#sidemenu .sidemenu-inner .active {
  background-color: #32374a;
  color: #fff;
  font-size: 14px;
}
#sidemenu .sidemenu-inner .sidemenu-nav-item a {
  height: 46px;
  line-height: 46px;
  text-align: center;
}
#sidemenu .sidemenu-inner .sidemenu-nav-item > a {
  font-size: 14px;
  font-weight: bold;
}
#sidemenu .sidemenu-inner .sidemenu-nav-item > a span {
  float: right;
  margin-right: 10px;
}
#sidemenu .sidemenu-inner .sidemenu-nav .second-nav {
  background-color: #2e3344;
}
#sidemenu .sidemenu-inner .sidemenu-nav .second-nav-item a {
  height: 40px;
  line-height: 40px;
}
