<div id="main" class="main">
  <div class="main-inner">
    <h2>写文章</h2>
    <div id="editor">
      <form action="" id="editor-form">
<textarea name="mark" id="mark" autofocus placeholder="PI&nbsp;PI&nbsp;XIA,&nbsp;LET'S&nbsp;GO!"></textarea>
      </form>
    </div>


    <div id="media">
      <h2>媒体库</h2>
    </div>

    <form action="" id="post">
      <label class="post post-title">
        <p>标题</p>
        <input type="text" name="title" value="" placeholder="在此输入标题">
      </label>
      <label class="post post-author">
        <p>作者</p>
        <input type="text" name="author" value="tianzhen" placeholder="输入作者">
      </label>
      <label class="post post-category">
        <p>分类</p>
        <select name="category" id="category">
          <option value="javascript">javascript</option>
        </select>
      </label>
      <label class="post post-category">
        <p>标签</p>
        <input type="text" name="tag" id="tag" value="" placeholder="输入标签">
      </label>
      <label class="post post-order">
        <p>排序</p>
        <input type="text" name="order" id="order" value="" placeholder="输入序号">
      </label>
      <label class="post post-date">
        <p>时间</p>
        <input type="text" name="date" value="" placeholder="在此输入标题">
      </label>
    </form>
  </div>
</div>
