<div id="main" class="main">
  <div class="main-inner">
    <div id="post-box" addpost-editor>
      <div class="post-box-left" #boxLeft>
        <h2>写文章</h2>
        <div id="editor">
          <ul>
            <li id="markdown" [class.active-mode]="activeMode.normal" title="经典模式" (click)="setActiveMode('normal')"><i class="iconfont">&#xe946;</i></li>
            <li id="split" [class.active-mode]="activeMode.split" title="预览模式" (click)="setActiveMode('split')"><i class="iconfont">&#xe661;</i></li>
            <li id="enlarge" [class.active-mode]="activeMode.enlarge" title="放大模式" (click)="setActiveMode('enlarge')"><i class="iconfont">&#xe724;</i></li>
          </ul>
          <form action="" id="editor-form" [ngClass]="getEditorMode()">
            <textarea spellcheck="false" name="mark" id="mark" #mark autofocus placeholder="PI&nbsp;PI&nbsp;XIA,&nbsp;LET'S&nbsp;GO!"></textarea>
          </form>
          <div id="preview" #preview [ngStyle]="{'display': (activeMode.split || activeMode.enlarge) == true ? 'block' : 'none'}"></div>
        </div>
      </div>

      <div class="post-box-right" [ngStyle]="{'display': activeMode.enlarge == true ? 'none' : 'block'}">
        <div id="media">
          <h2>媒体库</h2>
        </div>

        <form action="" id="post">
          <label class="post post-title">
            <p>标题：</p>
            <input type="text" name="title" [(ngModel)]="editorForm.title" value="" placeholder="在此输入标题">
          </label>
          <label class="post post-author">
            <p>作者：</p>
            <input type="text" name="author" [(ngModel)]="editorForm.author" value="" placeholder="输入作者">
          </label>
          <label class="post post-category">
            <p>分类：</p>
            <select name="category" [(ngModel)]="editorForm.category" id="category">
              <option value="javascript">javascript</option>
              <option value="javascript">javascript</option>
              <option value="javascript">javascript</option>
              <option value="javascript">javascript</option>
            </select>
          </label>
          <label class="post post-category">
            <p>标签：<small>多个标签用,隔开</small></p>
            <input type="text" name="tag" [(ngModel)]="editorForm.tag" id="tag" value="" placeholder="输入标签">
          </label>
          <label class="post post-order">
            <p>排序：<small>输入999默认置顶</small></p>
            <input type="text" name="order" [(ngModel)]="editorForm.order" id="order" value="" placeholder="输入序号">
          </label>
          <label class="post post-date">
            <p>时间：</p>
            <input type="text" name="date" [(ngModel)]="editorForm.date" value="" placeholder="在此输入标题">
          </label>
          <label class="post post-submit">
            <button class="btn btn-red">发布</button>
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
