<div id="main" class="main">
  <div class="main-inner">
    <div id="post-box">
      <div class="post-box-left">
        <h2>写文章</h2>
        <div id="editor">
          <ul>
            <li id="markdown" title="经典模式"><i class="iconfont">&#xe946;</i></li>
            <li id="split" title="预览模式"><i class="iconfont">&#xe661;</i></li>
            <li id="enlarge" title="放大模式"><i class="iconfont">&#xe724;</i></li>
          </ul>
          <form action="" id="editor-form" [ngClass]="setEditorMode()">
            <textarea name="mark" id="mark" autofocus placeholder="PI&nbsp;PI&nbsp;XIA,&nbsp;LET'S&nbsp;GO!"></textarea>
          </form>
        </div>
      </div>

      <div class="post-box-right">
        <div id="media">
          <h2>媒体库</h2>
        </div>

        <form action="" id="post">
          <label class="post post-title">
            <p>标题：</p>
            <input type="text" name="title" value="" placeholder="在此输入标题">
          </label>
          <label class="post post-author">
            <p>作者：</p>
            <input type="text" name="author" value="" placeholder="输入作者">
          </label>
          <label class="post post-category">
            <p>分类：</p>
            <select name="category" id="category">
              <option value="javascript">javascript</option>
              <option value="javascript">javascript</option>
              <option value="javascript">javascript</option>
              <option value="javascript">javascript</option>
            </select>
          </label>
          <label class="post post-category">
            <p>标签：<small>多个标签用,隔开</small></p>
            <input type="text" name="tag" id="tag" value="" placeholder="输入标签">
          </label>
          <label class="post post-order">
            <p>排序：<small>输入999默认置顶</small></p>
            <input type="text" name="order" id="order" value="" placeholder="输入序号">
          </label>
          <label class="post post-date">
            <p>时间：</p>
            <input type="text" name="date" value="" placeholder="在此输入标题">
          </label>
          <label class="post post-submit">
            <button class="btn btn-red">发布</button>
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
