<div id="post-main" class="post-main">
  <div class="post-main-inner">
    <div class="content">
      <div class="content-wrap">
        <div class="posts">
          <div class="posts-date">
            <div class="posts-date-cont">
              <span class="day">12</span>
              <span class="month">
                                <span>SEP</span>
                            </span>
              <span class="year">2016</span>
            </div>
          </div>
          <div class="posts-head">
            <h1 class="posts-head-title"><a href="">赞美太阳</a></h1>
            <div class="posts-head-meta">
              <span class="posts-head-meta-category">分类于<a href="">Linux</a></span>
              <span class="posts-head-meta-tag">标签<a href="">Linux</a></span>
              <span class="posts-head-meta-read"><span>666</span>次阅读</span>
            </div>
          </div>
          <div class="posts-body">
            <p>子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎子曰有朋自远方来不亦乐乎</p>
            <div class="posts-body-more">
              <a href="" class="btn-a">阅读全文&gt;&gt;</a>
            </div>
          </div>
        </div>

        <div class="posts-pages">
          <a href="" class="page active">1</a>
          <a href="" class="page">2</a>
          <a href="" class="page">3</a>
          <a href="" class="page">4</a>
          <a href="" class="page">&gt;</a>
        </div>
      </div>

    </div>
  </div>
</div>
